.main {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 100%;

    .content {
        grid-column: 2;
    }

    .card-list {
        margin-top: 15px;
    }

    .actions {
        display: flex;
        justify-content: space-between;
    }

    transition: grid-template-columns 250ms ease-in;
}

@media (max-width: 1100px) {
    .main {
        padding: 15px;
        height: calc(100% - 30px);
        grid-template-columns: 12.5% 75% 12.5%;
    }

    .actions {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .main {
        padding: 15px;
        height: calc(100% - 30px);
        grid-template-columns: 0% 100% 0%;
    }

    .actions {
        flex-direction: column;
    }
}
